# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Database files (if any)
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs